beautifulsoup4
cohere
docx2txt
elevenlabs
faiss-cpu
flask
hugchat
huggingface_hub
langchain
moviepy
openai
pydub
pyffmpeg
pyngrok
PyPDF2==3.0.1
python-docx
python-dotenv==1.0.0
pytube
replicate
requests
sentence_transformers
streamlit==1.18.1
streamlit_extras
streamlit-chat
textract
tiktoken
youtube-transcript-api
ctransformers
